/* CSS file */
LinkButton
{
    overSkin: Embed("transparentSkin.gif");
    downSkin: Embed("transparentSkin.gif");
}

global
{
	textAreaStyleName: richTextEditorTextArea;
	controlBarStyleName: richTextEditorControlBar;
	titleStyleName: richTextEditorTitle;
	fontFamily: Georgia;
}

.richTextEditorTextArea
{
	backgroundAlpha: 0.22;
	color: #A4D7B7;
	textAlign: right;
	fontStyle: italic;
}
.richTextEditorControlBar
{
	color: #36C5E3;
}
Button
{
	themeColor: #FD7353;
	fillAlphas: 0.15, 0.35, 0.06, 0.95;
}

TabNavigator
{
	borderStyle: solid;
	borderColor: #FFFFFF;
	backgroundColor: #1C1510;
	backgroundSize: auto;
	backgroundAlpha: 1.0;
	tabStyleName: tabNavigatorTab;
	selectedTabTextStyleName: tabNavigatorSelectedTabText;
	firstTabStyleName: tabNavigatorFirstTab;
	lastTabStyleName: tabNavigatorLastTab;
}
Canvas
{
	border-bottom: solid;
	borderColor: #9B8D7E;
}

.tabNavigatorSelectedTabText
{
	color: #AA0E2D;
	fontFamily: Georgia;
	backgroundColor: "#AA0E2D";
}
.tabNavigatorTab, .tabNavigatorFirstTab, .tabNavigatorLastTab
{
	borderColor: #FFFFFF;
	fillAlphas: 1.0, 1.0;
	fillColors: #514A3F, #1C1510;
	color: #FEFDFD;
	fontSize: 12;
	paddingLeft: 15;
	paddingRight: 15;
}

DateChooser {
   cornerRadius: 0;
   borderThickness: 0.6;
   horizontalGap: 37;
   verticalGap: 12;
   headerColors: #28211a, #28211a;
   highlightAlphas: 0.58, 0.57;
   fillColors: #ffffff, #ffffff, #ffffff, #eeeeee;
   color: #ffffff;
   borderColor: #857362;
   rollOverColor: #009ab5;
   selectionColor: #009ab5;
   todayColor: #d60031;
   iconColor: #28211a;
   backgroundColor: #28211a;
   backgroundAlpha: 1;
   fontFamily: Georgia;
   fontSize: 14;
   headerStyleName: "mydateChooserHeaderStyle";
}

.mydateChooserHeaderStyle {
   color: #857362;
   fontFamily: Georgia;
   fontWeight: normal;
   fontSize: 20;
   fontStyle: italic;
   textDecoration: none;
   borderThickness: 0.6;
   horizontal-gap: 50;
   padding-bottom: 30;
}



