<html>
  <head>
    <%= GMap.header %>
    <%= stylesheet_link_tag 'tillsammans' %>
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        <div id="header">
          <a href="/"><img id="logo" src="/images/bekktillsammans.png" alt="Tillsammans" border="0"/></a>
          <div id="loginOrUser">
            <img src="/images/user.png" width="90" height="110" />
            <% unless @current_user %>
            <h1>user Lykketoft Christensen</h1>
            <form>
              Login <input type="text" size="8"/> 
              Password <input type="password" size="8">
              <input type="button" value="log in">
            </form>
            <% else %>
              <h1>Mogens Lykketoft Christensen</h1>
              <form>
                User Name <input type="text" size="8"/> 
                Password <input type="password" size="8">
                <input type="button" value="log in">
              </form>
            <% end %>
          </div>
        </div>
        <div id="outerWrapper">
          <div id="innerWrapper">
            <div id="side">
              Her skal flex-komponenten!
            </div>        
            <div id="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </body>
</html>
